.topRightCorner {
  text-align: right;
}

.topTitle, .midTitle{
  text-align: center;
}

.midTitle{
  font-size: large;
  text-transform: uppercase;
}

.affirmationContent p, #conclusion{
  display: flex;
  align-items: flex-start;
}

.siganatureBox{
  padding-top: 4vh;
}